{% extends 'base.html' %}

{% load static %}

{% block title %}تایید حساب{% endblock %}

{% block content %}
	<!-- sign in -->
	<div class="sign section--bg" data-bg="img/bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- authorization form -->
						<form action="" method="post" novalidate class="sign__form">{% csrf_token %}
							<a href="{% url 'core:home' %}" class="sign__logo">
								<img src="{% static 'img/logo.svg' %}" alt="">
							</a>

							<div class="sign__group">
								{{ form.code }}
								<h5 style="color:#ff0000;">{{ form.code.errors }}</h5>
							</div>
							
							<button class="sign__btn" type="submit">ارسال</button>

							<span class="sign__text">کد تاییدی که به شما ایمیل کردیم را وارد کنید</span>
						</form>
						<!-- end authorization form -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end sign in -->

{% endblock %}
