<div class="col-12">
    <div class="paginator">
        <ul class="paginator__paginator">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}">
                    <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.1992 5.3645L0.75 5.3645" stroke-width="1.2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                        <path d="M8.17822 0.602051L13.1993 5.36417L8.17822 10.1271" stroke-width="1.2"
                              stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
            </li>
            {% endif %}

            {% for page in paginator.page_range %}
            {% if page == page_obj.number %}
            <li class="active"><a>{{ page }}</a></li>
            {% elif page > page_obj.number|add:'2' %}
            {% elif page < page_obj.number|add:'-2' %}
            {% else %}
            <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}">
                    <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 5.36475L13.1992 5.36475" stroke-width="1.2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                        <path d="M5.771 10.1271L0.749878 5.36496L5.771 0.602051" stroke-width="1.2"
                              stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>

                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
