{% extends 'base.html' %}

{% block title %}کاتالوگ{% endblock %}

{% load static %}

{% load movie_filters %}

{% block content %}

	<!-- header (hidden style) -->
	<header class="header">
		{% include 'shared/navbar.html' %}
	</header>
	<!-- end header -->

	<!-- head -->
	<section class="section section--head section--head-fixed">
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-6">
					<h1 class="section__title section__title--head">کاتالوگ</h1>
				</div>

				<div class="col-12 col-xl-6">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="{% url 'core:home' %}">صفحه اصلی</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">کاتالوگ</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- end head -->

	<!-- categories -->
	<section class="section section--pb0">
		<div class="container">
			<div class="row row--grid">
				{% for object in object_list %}
				<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
					<a href="{{ object.get_absolute_url }}" class="category">
						<div class="category__cover">
							<img src="{{ object.image_cover.url }}" alt="{{ object.english_name }}">
						</div>
						<h3 class="category__title">{{ object.name }}</h3>
						<span class="category__value">{{ object.movies.count }}</span>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- endcategories -->

	<!-- popular -->
	<section class="section section--pb0">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="section__title"><a href="/movie/category?action=favorite">محبوب ها</a></h2>
				</div>

				<div class="col-12">
					<div class="section__carousel-wrap">
						<div class="section__carousel owl-carousel" id="popular">
							{% for movie in 'movie'|favorite_movies %}
							{% include 'movie/shared/card.html' %}
							{% endfor %}
						</div>

						<button class="section__nav section__nav--cards section__nav--prev" data-nav="#popular" type="button"><svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.25 7.72559L16.25 7.72559" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.2998 1.70124L1.2498 7.72524L7.2998 13.7502" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
						<button class="section__nav section__nav--cards section__nav--next" data-nav="#popular" type="button"><svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.75 7.72559L0.75 7.72559" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.7002 1.70124L15.7502 7.72524L9.7002 13.7502" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end popular -->

	<!-- newest -->
	<section class="section section--pb0 section--gradient">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="section__title"><a href="/movie/category?action=new">فیلم های جدید</a></h2>
				</div>

				<div class="col-12">
					<div class="section__carousel-wrap">
						<div class="section__carousel owl-carousel" id="newest">
							{% for movie in 'movie'|new_movies %}
							{% include 'movie/shared/card.html' %}
							{% endfor %}
						</div>

						<button class="section__nav section__nav--cards section__nav--prev" data-nav="#newest" type="button"><svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.25 7.72559L16.25 7.72559" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.2998 1.70124L1.2498 7.72524L7.2998 13.7502" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
						<button class="section__nav section__nav--cards section__nav--next" data-nav="#newest" type="button"><svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.75 7.72559L0.75 7.72559" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.7002 1.70124L15.7502 7.72524L9.7002 13.7502" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end newest -->

	<!-- plan -->
	{% include 'shared/plan.html' %}
	<!-- end plan -->

	<!-- footer -->
	{% include 'shared/footer.html' %}
	<!-- end footer -->
{% endblock %}
