{% extends 'base.html' %}

{% block title %}دسته بندی {% endblock %}

{% load static %}

{% load movie_filters %}

{% block content %}
	<!-- header (relative style) -->
	<header class="header header--static">
		{% include 'shared/navbar.html' %}
	</header>
	<!-- end header -->

	<!-- head -->
	<section class="section section--head">
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-6">
					<h1 class="section__title section__title--head">{{ genre.name }}</h1>
				</div>

				<div class="col-12 col-xl-6">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="{% url 'core:home' %}">صفحه اصلی</a></li>
						<li class="breadcrumb__item"><a href="{% url 'movie:catalogue' %}">کاتالوگ</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">{{ category }}</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- end head -->

	<!-- catalog -->
	<div class="catalog catalog--page">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="catalog__nav">
						<div class="catalog__select-wrap">
							<select class="catalog__select" name="genres">
								<option value="All genres">همه سبک ها</option>
								{% for genre in 'movie'|genre_movies %}
								<option value="Action/Adventure">{{ genre.name }}</option>
								{% endfor %}
							</select>

							<select class="catalog__select" name="years">
								<option value="All the years">همه سال ها</option>
								<option value="1">1320</option>
								<option value="2">1350</option>
								<option value="3">1360</option>
								<option value="4">1370</option>
								<option value="5">1380</option>
								<option value="6">1390</option>
								<option value="7">1400</option>
							</select>
						</div>

						<div class="slider-radio">
							<input type="radio" name="grade" id="newest" checked="checked"><label for="newest">جدید</label>
							<input type="radio" name="grade" id="popular"><label for="popular">محبوب</label>
						</div>
					</div>

					<div class="row row--grid">
						{% for movie in object_list %}
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							{% include 'movie/shared/card.html' %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>		

			<div class="row">
				<div class="col-12">
					<div class="catalog__paginator-wrap">
						<span class="catalog__pages"></span>

						<ul class="catalog__paginator">
							{% if page_obj.has_previous %}
							<li>
								<a href="?page={{ page_obj.previous_page_number }}">
									<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1992 5.3645L0.75 5.3645" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8.17822 0.602051L13.1993 5.36417L8.17822 10.1271" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path></svg>

								</a>
							</li>
							{% endif %}

							{% for page in paginator.page_range %}
							{% if page == page_obj.number %}
							<li class="active"><a>{{ page }}</a></li>
							{% elif page > page_obj.number|add:'2' %}
							{% elif page < page_obj.number|add:'-2' %}
							{% else %}
							<li><a href="?page={{ page }}">{{ page }}</a></li>
							{% endif %}
							{% endfor %}

							{% if page_obj.has_next %}
							<li>
								<a href="?page={{ page_obj.next_page_number }}">
									<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.75 5.36475L13.1992 5.36475" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5.771 10.1271L0.749878 5.36496L5.771 0.602051" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path></svg>

								</a>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end catalog -->

	<!-- footer -->
	{% include 'shared/footer.html' %}
	<!-- end footer -->
{% endblock %}
