{% load static %}

<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slider-radio.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plyr.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
