{% load static %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners owl-carousel">
                    <a class="partners__img">
                        <img src="{% static 'img/partners/3docean-light-background.png' %}" alt="">
                    </a>

                    <a href="" class="partners__img">
                        <img src="{% static 'img/partners/activeden-light-background.png' %}" alt="">
                    </a>

                    <a class="partners__img">
                        <img src="{% static 'img/partners/audiojungle-light-background.png' %}" alt="">
                    </a>

                    <a class="partners__img">
                        <img src="{% static 'img/partners/codecanyon-light-background.png' %}" alt="">
                    </a>

                    <a class="partners__img">
                        <img src="{% static 'img/partners/photodune-light-background.png' %}" alt="">
                    </a>

                    <a class="partners__img">
                        <img src="{% static 'img/partners/themeforest-light-background.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>